* {
    box-sizing: border-box;

}

body {
    padding: 0;
    margin: 0;
}

.first-header-div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.text-in-fist-header a {

    color: white;
}

.fist-line-header-text a {
    text-decoration: none;
}


.second-text-in-header {}

.header {
    background: #1d1d1d;
    justify-content: center;

}

.second-header {
    background: #1d1d1d;
}

.icons {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

main {
    display: flex;
    justify-content: center;

}

.test {
    align-items: center;
}

.text-in-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botton-design button {
    background-color: #1d1d1d;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border-radius: 0.2rem;
    justify-content: center;
    font-size: 12px;
    margin: 5px;
    min-width: 43rem;
}

.testar img {
    width: 300px;
    height: auto;

}



.list li {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.pic {
    text-align: center;
}

.infinite-text {
    padding: 24px 16px;
    text-align: center;
}

.infinite-botton {
    text-align: center;
    padding-bottom: 40px;
}

footer {
    background-color: #f0f0f0;
    padding: 3.4375rem 0;
    padding-left: 40px;

}

.footer-ua-logo {
    width: 130%;
    height: 9px;

}

.text-in-footer {
    padding-top: 20px;
}

.detest {
    margin-bottom: 10px;
}

.signup {}

.danijel {
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
}

.footer-run-logo img {
    padding-top: 40px;
    width: 50px;
    height: auto;
}

.imgcontainer {
    display: flex;
}

.imgcontainer img {
    width: 55px;
    height: auto;
    margin-right: 10px;
}

.order-info {
    display: flex;
    text-align: right;
    padding: 10px;
}

.footer-info button {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    text-align: left;
    color: #333;
}

.icons-padding i {
    padding-top: 6px;
    padding-right: 20px;
    padding-left: 12px;
}

.icon-to-black img {
    width: 25px;
    height: auto;
}