* {
    box-sizing: border-box;

}

body {
    padding: 0px;
    margin: 0;
}

.fixed-header {
    position: fixed;
    width: 100%;

}

hr {
    margin: 0;
}


.first-header-div {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.text-in-fist-header a {
    color: white;
}

.fist-line-header-text a {
    text-decoration: none;
    font-size: large;
}


.second-text-in-header {}

.header {
    background: #1d1d1d;
    justify-content: center;

}

.second-header {
    background: #1d1d1d;
}

.icons {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

main {
    padding-top: 135px;
    display: flex;
    justify-content: center;

}

.text-in-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text-style-in-main h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 0;
}

.text-style-in-main p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
}

.text-style-in-main h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-display: inherit;
    margin-top: 10px;
    letter-spacing: 1px;
}



.botton-design button {
    background-color: #1d1d1d;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border-radius: 0.2rem;
    justify-content: center;
    font-size: 12px;
    width: auto;
    min-width: 90%;
    max-width: 90%;
}

.image-max-sixe img {
    max-width: 100%;
    max-height: 100%;
}

.headline-over-category-img {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-left: 55px;
    padding-top: 50px;
    margin-bottom: 0;
    font-size: large;



}

.category-img img {
    width: 300px;
    height: auto;

}



.list li {
    display: inline-block;
    padding-right: 15px;
    text-align: left;
    margin-bottom: 10px;

}

.link-color a {
    color: black;
    font-size: small;
}


.infinite-text p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px 16px;
    text-align: center;
    margin-top: 20;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}

.pic img {
    display: block;
    margin: auto;




}

.infinite-text h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding: 24px 16px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.infinite-last-text p {

    margin: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.infinite-botton {
    text-align: center;
    padding-bottom: 40px;
}

footer {
    background-color: #f0f0f0;
    padding-top: 50px;
    padding-left: 40px;

}

.footer-ua-logo img {
    display: block;
    width: 130px;
    height: auto;
    margin-left: 4px;

}

.text-in-footer {
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.sign-up-text-in-footer {
    margin: 0;
    font-size: x-small;

}


.email-input input {
    width: 95%;
    height: 50px;
    border: 1px solid #6d6565;
    background-color: #f0f0f0;
}

.email-input label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    background-color: #f0f0f0;
    padding-left: 10px;
    font-weight: bold;

}



.footer-run-logo img {
    padding-top: 40px;
    width: 50px;
    height: auto;
}

.imgcontainer {
    display: flex;
}

.imgcontainer img {
    width: 55px;
    height: auto;
    margin-right: 10px;
}

.order-info {
    display: flex;
    text-align: right;
    padding: 10px;
}

.footer-info button {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    padding: 20px 20px;
    text-align: left;
    color: #333;
}

.icon-to-black img {
    width: 20px;
    height: 20px;
    margin: 15px;
}

.icon-to-black i {
    width: 20px;
    height: 20px;
    margin: 15px;
}

.bottom-of-page {
    margin-top: 40px;
}

/*
Tablet
*/
@media (min-width: 768px) {
    .hide-on-big-screen {
        display: none;
    }

}